<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>678846062498-3ssuiqnac2u320ita45sbot6jpp4u6fp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.678846062498-3ssuiqnac2u320ita45sbot6jpp4u6fp</string>
	<key>API_KEY</key>
	<string>AIzaSyBxBTpvce570XkdY6aF6G2Fdt70u7MTCrU</string>
	<key>GCM_SENDER_ID</key>
	<string>678846062498</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.messagingApp.emilioicai</string>
	<key>PROJECT_ID</key>
	<string>messengerapp-17206</string>
	<key>STORAGE_BUCKET</key>
	<string>messengerapp-17206.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:678846062498:ios:d3fed93505aa951c</string>
	<key>DATABASE_URL</key>
	<string>https://messengerapp-17206.firebaseio.com</string>
</dict>
</plist>